<p>about-us works!</p>
<div class="main">
    <img src="https://i.pinimg.com/originals/5d/14/31/5d14319f1b4c2db14c123d32f59fa176.jpg" alt="">
    <div class="text">
        <h1>Sunny</h1>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repudiandae, similique, hic voluptatum fugiat velit harum magnam accusamus perferendis aspernatur magni alias tempore blanditiis porro. Odit earum perspiciatis quam aut!

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur optio ullam quaerat quasi eaque dolore, quae voluptatem quis temporibus vel repudiandae atque totam asperiores incidunt odio, maxime explicabo. Fugiat, corrupti!

            <br>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repudiandae, similique, hic voluptatum fugiat velit harum magnam accusamus perferendis aspernatur magni alias tempore blanditiis porro. Odit earum perspiciatis quam aut!

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur optio ullam quaerat quasi eaque dolore, quae voluptatem quis temporibus vel repudiandae atque totam asperiores incidunt odio, maxime explicabo. Fugiat, corrupti!
        </p>

        <br>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repudiandae, similique, hic voluptatum fugiat velit harum magnam accusamus perferendis aspernatur magni alias tempore blanditiis porro. Odit earum perspiciatis quam aut!

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur optio ullam quaerat quasi eaque dolore, quae voluptatem quis temporibus vel repudiandae atque totam asperiores incidunt odio, maxime explicabo. Fugiat, corrupti!

            <br>

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel repudiandae, similique, hic voluptatum fugiat velit harum magnam accusamus perferendis aspernatur magni alias tempore blanditiis porro. Odit earum perspiciatis quam aut!

            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur optio ullam quaerat quasi eaque dolore, quae voluptatem quis temporibus vel repudiandae atque totam asperiores incidunt odio, maxime explicabo. Fugiat, corrupti!
        </p>
    </div>
</div>