.main{
    width: 1000px;
    height: 100px;
    border: 2px solid #696969;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
}

img{
    height: 100px;
}

.info{
    text-align: center;
    width: 500px; 
}

.change{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 150px;
}

.change img{
    height: 50px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.quantity{
    display: flex;
    justify-content: space-between;
    max-width: 100px;
}

input{
    max-width: 40px;
    border-radius:25px ;
    border: 1px solid #696969;
    margin: 0px 10px;
    padding-left: 10px;
}

.quantity p{
    margin: 0px;
    
}

.bin{
    margin: auto;
}

.total{
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.total button{
    width: 100px;
    height: 50px;
    font-size: 24px;
    background-color: #cfe5cc;
    border: none;
    margin: auto;
    border-radius: 25px;
}

.total h3{
    text-align: center;
}